/*Содержит модификаторы блоков при разной ширине экрана*/
/*Изменяет положение фото, чтобы не появлялось пустого места из-за недостаточной ширины фото*/
@media (max-width: 1130px) {
    .mk-photo_background_380 {
        background-size: 180%;
    }
    .mk-photo_background_440 {
        background-size: 220%;
    }

}
/*Содержит изменения при ширине экрана 768px*/
@media (max-width: 768px) {
    .mk-menu__mobile__button {
        display: block;
    }
    .mk-header {
        height: 120vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .mk-menu__desctop {
        display: none;
    }
    .mk-header__item {
        height: 80%;
        width: 100%;
    }
    .mk-header_photo {
        height: 20%;
    }
    .mk-margin_top_30 {
        margin-top: 15%;
    }
    .mk-small_block {
        display: flex;
        width: 50%;
    }
    .mk-main__about_me {
        width: 100%;
        
    }
    .mk-main__experience_block {
        width: 100%;
    }
    .mk-education_block {
        width: 100%;
    }
    .mk-contacts_mobile {
        width: 100%;
    }
    .mk_light_button {
     width: 100%;
    }
   .mk-footer__ikons_block {
       flex-wrap: wrap;
   }
   .mk-full__button {
       width: 100%;
   }
}
/*Содержит изменения при ширине экрана 414px*/
@media (max-width: 414px) {
   .mk-header__item {
        height: 100%;
        width: 100%;
    }
    .mk-header_photo {
        height: 20%;
        order:2;
    }
    .mk-inline_block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .mk-photo_background_380  {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
    .mk-contacts_textarea { 
        height: auto;
    }
    .mk-text_big {
        font-size: 25px;
    }
    .mk-footer__ikons_block {
        width: 70%;
    }
    .mk-contacts_block_wrapper {
        height: 360px;
    }
}